// fonts
$font-primary:"Montserrat", serif;

//fonts-colors
$color-primary: rgba(255, 255, 255, 1);
$color-accent: rgba(167, 58, 253, 1);
$color-title: rgba(24, 24, 24, 1);

//color-input
$color-input: rgba(255, 255, 255, 1);

//colors-slider
$color-pagination: rgba(204, 204, 204, 0.6);
$color-pagination-active: rgba(255, 255, 255, 1);
$color-arrow: rgba(255, 255, 255, 0.71);
$color-slider: rgba(26, 29, 32, 0.24);

//background-color
$color-main: rgba(255, 255, 255, 1);
$color-header: linear-gradient(90deg, rgba(222,54,255,1) 0%, rgba(142,25,235,1) 100%);
$color-sale: rgba(224, 44, 61, 1);

//color-card
$color-card-img-button: rgba(255, 255, 255, 0.8);
$color-card-button: rgba(167, 58, 253, 1);
$color-card-button-hover: rgba(189, 118, 248, 1);
