@include modal('card');

.card__left{
  height:100%;
  width: 50%;
}

.img{
  height:100%;
  width: 100%;
  object-fit: cover;
}

.card__right{
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  //align-items: center;
  //justify-content: center;
  width: 50%;
  //justify-content: center;

}
//.text{
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//}
.title{
  max-width: 450px;
  text-align: center;
  @include text (36px, 700, $color-text);
  margin-bottom: 30px;
}

.price{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.price-sale{
  @include text (26px, 700, $color-accent);
}

.price-full{
  @include text (20px, 400, $color-text);
  text-decoration: line-through;
}

.description{
  max-width: 450px;
  flex-grow: 1;
}

.description p{
  //text-align: center;
  @include text (18px, 400, $color-text);
}

.button{
  border-radius: 10px;
  line-height: 56px;
  @include text (16px, 600, $color-primary);
  width: 100%;
  background-color: $color-card-button;
  transition: 0.5s ease;
}


