@import "base/_fonts";
@import "base/_cdn";
@import "base/_variables";
@import "base/_mixins";

@import "./blocks/_header";
@import "./blocks/_slider";
@import "./blocks/_catalog";
@import "./blocks/_modal-card";
@import "./blocks/_modal-shopping-cart";

*{
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  font-family: $font-primary;
  font-size: 16px; // базовый размер шрифта

  @media all and (max-width: 1160px) {
    font-size: 15px;
  }

  @include netbooks {
    font-size: 14px;
  }

  @media all and (max-width: 870px) {
    font-size: 13px;
  }

  @include tablet {
    font-size: 14px;
  }

  @media all and (max-width: 680px) {
    font-size: 12px;
  }

  @media all and (max-width: 580px) {
    font-size: 13px;
  }

  @media all and (max-width: 480px) {
    font-size: 12px;
  }

  @include mobile {
    font-size: 10px;
  }
}

.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}


